*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: #000; */
    min-height: 200vh;
    /* display: flex; */
    /* min-height: 100vh; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background: #f2f2f2; */
    position: relative;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 60px;
    z-index: 100000;
}
header.sticky{
    padding: 10px 80px;
    background:#fff;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 1000px;
    transition: 0.6s;

}
.banner{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background: url(images/banner.png);
    background-size: cover;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
}


/* cards */
/* body::before{
    content: '';
    position: absolute;
    width: 100%;
    background: #fff;
    clip-path: inset(47% 0 0 0);
    z-index: -1;
    height: 100%;
  } */
  ::selection{
    background:	#FF676D;
    color: #fff;
  }
  .container{
    /* max-width: 950px; */
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  } 
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display:flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 4 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #FF676D;
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: #FF676D;
  }
  .card .content .contact{
    margin-top: 10px;
    display: flex;
  
  }
  .contact a{

    text-decoration: none;
    text-align: center;
    line-height: 45px;
    height: 50px;
    width: 100px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    /* border-radius: 50%; */
    border: 2px solid transparent;
    background: #FF676D;
    transition: all 0.3s ease;
  }
  .contact a:hover{
    color: #FF676D;
    background-color: #fff;
    border-color: #FF676D;
  }
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #FF676D;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }
  



  /* Text over image */
.image-text {
  position: relative; 
  text-align: center;
  
  color: white;
}

.left {
  position: absolute;
  top: 35%;
  left: 30px;
  size: 200px;
}

.search{
  position: absolute;
  width: 22%;
  height: 5%;
  top: 47%;
  left: 30px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0 25px;
  /* border-radius: 25px 0 0 25px; */
  display: inline-block;
  font-size: 20px;
  box-sizing: .5s;
}
.btn{
  position: absolute;
  height: 5%; 
  width: 6%;
  top: 47%;
  left: 327px;
  /* border-radius: 0 25px 25px 0; */
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(67, 158, 67);
  display: inline-block;
  /* font-size: 20px; */
  box-sizing: .5s;
}
.btn:hover{
  background: rgba(33, 134, 50, 0.637);
}